@(currentUser: models.User)

@main("Accountverwaltung", currentUser) {
	<div class="page-header">
		<h1><div class="text-muted">Wilkommen</div> <strong>@currentUser.name</strong><small> | </small>@currentUser.getTrunde().bezeichnung</h1>
	</div>
	@if(flash.containsKey("success")) {
		<div class="alert alert-success">
			<strong class="success">Erfolg!</strong> @flash.get("success")
		</div>
   	}
   	@if(flash.containsKey("warning")) {
		<div class="alert alert-warning">
			<strong class="warning">Ok!</strong> @flash.get("warning")
		</div>
   	}
   	@if(flash.containsKey("error")) {
		<div class="alert alert-danger">
			<strong class="error">Oops!</strong> @flash.get("error")
		</div>
	}
    <div class=container>
    	<div class=row>
	    	<div class="col-md-6">
	    		<div class=row>
	    			<div class="col-md-3">
	    				Benutzername:
	    			</div> <!-- col.md-3 -->
	    			<div class="col-md-7  text-right">
		    			@helper.form(action = routes.UserController.updateName(currentUser.uid)) {
		    				<div class="input-group">
		    					<input type="text" class="form-control" name="name" placeholder="@currentUser.name" value="@currentUser.name" maxlength="30"></input>
		    					<span class="input-group-btn">
							      <button class="btn btn-default" type="submit">Ok</button>
							    </span>
		    				</div> <!-- input-group -->
		    			}
		    		</div> <!-- col.md-7 -->
		    	</div> <!-- row -->
		    	<br>
		    	<div class="row">
		    		<div class="col-md-3">
						Passwort:
					</div> <!-- col.md-3 -->
					<div class="col-md-4 text-left">
						************
					</div> <!-- col.md-4 -->
						<div class="col-md-3 text-right">
							<a href="/user/changePw/@currentUser.uid">
								<button type="button" class="btn btn-default btn">
						  			<span class="glyphicon glyphicon-pencil"></span>
								</button>
							</a>
						</div> <!-- col.md-3 -->
				</div> <!-- row -->
			</div> <!-- col.md-6 -->
			<div class="col-md-6">
				<p>
					Tipps: @currentUser.getTipps().size()
				</p>
				<p>
					Punkte: @currentUser.punkte
				</p>
			</div> <!-- col.md-6 -->
			<p class="text-right">
				<a href="/user/delete/@currentUser.uid">
					<button type="button" class="btn btn-danger btn">
			  			<span class="glyphicon glyphicon-trash"> Account loeschen</span>
					</button>
				</a>
			</p>
		</div> <!-- row -->
    </div> <!-- cotainer -->

}