
@if(flash.containsKey("success")) {
	<div class="alert alert-success">
		<strong class="success">Erfolg!</strong> @flash.get("success")
	</div>
}
@if(flash.containsKey("warning")) {
	<div class="alert alert-warning">
		<strong class="warning">Warnung!</strong> @flash.get("warning")
	</div>
}
@if(flash.containsKey("error")) {
	<div class="alert alert-danger">
		<strong class="warning">Fehler!</strong> @flash.get("error")
	</div>
}
@if(flash.containsKey("info")) {
	<div class="alert alert-info">
		<strong class="info">Hinweis!</strong> @flash.get("info")
	</div>
}