@(mannschaften: Collection[models.Mannschaft])

<h3>Gruppenuebersicht</h3>	
@for(index <- 0 until 8){
	<div class="col-md-3">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Gruppe
				@index match {
					case 0 => { A }
					case 1 => { B }
					case 2 => { C }
					case 3 => { D }
					case 4 => { E }
					case 5 => { F }
					case 6 => { G }
					case 7 => { H }
				}
			</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Mannschaft</th>
						<th>Punkte</th>
					</tr>
				</thead>
 				<tbody>
						@index match {
							case 0 => {
								@for(m <- mannschaften){
								    @m.gruppe match {
									    case "A" => { 
									    	<tr>
						    					<td>
						    						<a href="/mannschaft/find/@m.mid">
						    							@m.bezeichnung
						    						</a>
						    					</td>
						  						<td>@m.punkte</td>
									  		</tr>
										}
									    case "B" => {  }
									    case "C" => {  }
									    case "D" => {  }
									    case "E" => {  }
									    case "F" => {  }
									    case "G" => {  }
									    case "H" => {  }
									}
								}
							}
							case 1 => {
								@for(m <- mannschaften){
								    @m.gruppe match {
									    case "A" => {  }
									    case "B" => { 
									    	<tr>
						    					<td>
						    						<a href="/mannschaft/find/@m.mid">
						    							@m.bezeichnung
						    						</a>
						    					</td>
						  						<td>@m.punkte</td>
									  		</tr>
										}
									    case "C" => {  }
									    case "D" => {  }
									    case "E" => {  }
									    case "F" => {  }
									    case "G" => {  }
									    case "H" => {  }
									}
								}
							}
							case 2 => {
								@for(m <- mannschaften){
								    @m.gruppe match {
									    case "A" => {  }
									    case "B" => {  }
									    case "C" => {  
									    	<tr>
						    					<td>
						    						<a href="/mannschaft/find/@m.mid">
						    							@m.bezeichnung
						    						</a>
						    					</td>
						  						<td>@m.punkte</td>
									  		</tr>
										}
									    case "D" => {  }
									    case "E" => {  }
									    case "F" => {  }
									    case "G" => {  }
									    case "H" => {  }
									}
								}
							}
							case 3 => {
								@for(m <- mannschaften){
								    @m.gruppe match {
									    case "A" => {  }
									    case "B" => {  }
									    case "C" => {  }
									    case "D" => {  
									    	<tr>
						    					<td>
						    						<a href="/mannschaft/find/@m.mid">
						    							@m.bezeichnung
						    						</a>
						    					</td>
						  						<td>@m.punkte</td>
									  		</tr>
										}
									    case "E" => {  }
									    case "F" => {  }
									    case "G" => {  }
									    case "H" => {  }
									}
								}
							}
							case 4 => {
								@for(m <- mannschaften){
								    @m.gruppe match {
									    case "A" => {  }
									    case "B" => {  }
									    case "C" => {  }
									    case "D" => {  }
									    case "E" => {  
									    	<tr>
						    					<td>
						    						<a href="/mannschaft/find/@m.mid">
						    							@m.bezeichnung
						    						</a>
						    					</td>
						  						<td>@m.punkte</td>
									  		</tr>
										}
									    case "F" => {  }
									    case "G" => {  }
									    case "H" => {  }
									}
								}
							}
							case 5 => {
								@for(m <- mannschaften){
								    @m.gruppe match {
									    case "A" => {  }
									    case "B" => {  }
									    case "C" => {  }
									    case "D" => {  }
									    case "E" => {  }
									    case "F" => {  
									    	<tr>
						    					<td>
						    						<a href="/mannschaft/find/@m.mid">
						    							@m.bezeichnung
						    						</a>
						    					</td>
						  						<td>@m.punkte</td>
									  		</tr>
										}
									    case "G" => {  }
									    case "H" => {  }
									}
								}
							}
							case 6 => {
								@for(m <- mannschaften){
								    @m.gruppe match {
									    case "A" => {  }
									    case "B" => {  }
									    case "C" => {  }
									    case "D" => {  }
									    case "E" => {  }
									    case "F" => {  }
									    case "G" => {  
									    	<tr>
						    					<td>
						    						<a href="/mannschaft/find/@m.mid">
						    							@m.bezeichnung
						    						</a>
						    					</td>
						  						<td>@m.punkte</td>
									  		</tr>
										}
									    case "H" => {  }
									}
								}
							}
							case 7 => {
								@for(m <- mannschaften){
								    @m.gruppe match {
									    case "A" => {  }
									    case "B" => {  }
									    case "C" => {  }
									    case "D" => {  }
									    case "E" => {  }
									    case "F" => {  }
									    case "G" => {  }
									    case "H" => {  
									    	<tr>
						    					<td>
						    						<a href="/mannschaft/find/@m.mid">
						    							@m.bezeichnung
						    						</a>
						    					</td>
						  						<td>@m.punkte</td>
									  		</tr>
										}
									}
								}
							}
						}
				</tbody>
 			</table>
		</div>
	</div>
</div>
}