@(games: Collection[models.Spiel], mannschaften: Map[String, List[Mannschaft]], currentUser: models.User)

@main("Home", currentUser){
    <div class="page-header">
		<h1>Home</h1>
	</div>	
	@if(flash.containsKey("success")) {
		<div class="alert alert-success">
			<strong class="success">Erfolg!</strong> @flash.get("success")
		</div>
   	}
   	@if(flash.containsKey("warning")) {
		<div class="alert alert-warning">
			<strong class="warning">Warnung!</strong> @flash.get("warning")
		</div>
   	}
	<div class="container">
		<div>
	  		@grp_overview(mannschaften)
		</div>
		<div id="stSpielplan"></div> <!-- hack zur richtigen Darstellung mit navbar -->
		<a href="@routes.MannschaftController.mannschaften()">
			<p class="text-right">
				<button type="button" class="btn btn-default btn">
			 			Detailansicht >>
				</button>
			</p>
		</a>
		<div>
			@spiele(games, currentUser)
		</div>
	</div> <!-- container -->
}
