@(message: String, mannschaften: Collection[models.Mannschaft], currentUser: models.User)

@main("Home", currentUser){
    <h1>@message</h1>
	@if(flash.containsKey("success")) {
		<div class="alert alert-success">
			<strong class="success">Success!</strong> @flash.get("success")
		</div>
   		}
	<div class="container">
		<div class="row">
	  		@grp_overview(mannschaften)
		</div>
		<a href="@routes.MannschaftController.mannschaften()">
			<button type="button" class="btn btn-default btn">
	  			Detailansicht
			</button>
		</a>
	</div>
}
