@(m: models.Mannschaft, spiele: Collection[models.Spiel], mannschaften: Collection[models.Mannschaft], currentUser: models.User)

@main(m.bezeichnung, currentUser) {
    <h1>@m.bezeichnung</h1>
    <h3>Uebersicht</h3>
    <div>
    	 <table class="table table-striped">
	    	<thead>
  				<tr>
  					<th>Gruppe</th>
  					<th>Spiele</th>
  					<th>Siege</th>
  					<th>Niederlagen</th>
  					<th>Tore</th>
  					<th>Gegentore</th>
  					<th>Punkte</th>
  				</tr>
  			</thead>
  			<tbody>
 				<tr>
					<td>@m.gruppe</td>
					<td>@m.spiele</td>
					<td>@m.siege</td>
					<td>@m.niederlagen</td>
					<td>@m.tore</td>
					<td>@m.gegentore</td>
					<td>@m.punkte</td>
				</tr>
			</tbody>
    	</table>
    </div>
	<h3>Spielplan</h3>
	<div>
    	 <table class="table table-striped">
	    	<thead>
  				<tr>
  					<th></th>
  					<th></th>
  					<th></th>
  					<th></th>
  					<th></th>
  					<th>Ort</th>
  					<th>Beginn</th>
  					<th>Ende</th>
  				</tr>
  			</thead>
  			<tbody>
  				@for(s <- spiele){
	 				<tr>
						<td>
							@for(mannschaft <- mannschaften){
								@if(mannschaft.mid==s.fk_midheim){
									<a href="/mannschaft/find/@mannschaft.mid">
			    						@mannschaft.bezeichnung
			    					</a>
								}
							}
						</td>
						<td>@s.toreheim</td>
						<td>   -   </td>
						<td>@s.toregast</td>
						<td>
							@for(mannschaft <- mannschaften){
								@if(mannschaft.mid==s.fk_midgast){
									<a href="/mannschaft/find/@mannschaft.mid">
			    						@mannschaft.bezeichnung
			    					</a>
								}
							}
						</td>
						<td>@s.ort</td>
						<td>@s.beginn</td>
						<td>@s.ende</td>
					</tr>
				}
			</tbody>
    	</table>
    </div>
}