@(mannschaften: Collection[models.Mannschaft], currentUser: models.User)

@main("Home", currentUser){
    <h1>Detailuebersicht</h1>
	<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Mannschaft</th>
				<th>Gruppe</th>
				<th>Spiele</th>
				<th>Siege</th>
				<th>Niederlagen</th>
				<th>Tore</th>
				<th>Gegentore</th>
				<th>Punkte</th>
			</tr>
		</thead>
		<tbody>
			@for(m <- mannschaften) {
				<tr>
					<td>
						<a href="/mannschaft/find/@m.mid">
							@m.bezeichnung
						</a>
					</td>
					<td>@m.gruppe</td>
					<td>@m.spiele</td>
					<td>@m.siege</td>
					<td>@m.niederlagen</td>
					<td>@m.tore</td>
					<td>@m.gegentore</td>
					<td>@m.punkte</td>
				</tr>
			}
		</tbody>
	</table>
</div>
}
