@(m: models.Mannschaft, spiele: Collection[models.Spiel], cU: models.User)

@main(m.bezeichnung, cU) {
    <h1><strong>@m.bezeichnung</strong> <small> Gruppe @m.gruppe </small></h1>
    <div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Uebersicht</h3>
		</div>
		<div class="panel-body">
		    <div>
		    	 <table class="table table-striped">
			    	<thead>
		  				<tr>
		  					<th>Spiele</th>
		  					<th>Siege</th>
		  					<th>Niederlagen</th>
		  					<th>Tore</th>
		  					<th>Gegentore</th>
		  					<th>Punkte</th>
		  				</tr>
		  			</thead>
		  			<tbody>
		 				<tr>
							<td>@m.anzahlspiele</td>
							<td>@m.siege</td>
							<td>@m.niederlagen</td>
							<td>@m.tore</td>
							<td>@m.gegentore</td>
							<td>@m.punkte</td>
						</tr>
					</tbody>
		    	</table>
		    </div>
   		</div>
    </div>
    <div id="stSpielplan"></div> <!-- hack zur richtigen Darstellung mit navbar -->
    <br>
    <br>
	<h3>Spielplan</h3>
	<br>
	@if(flash.containsKey("tippError")) {
		<div class="alert alert-danger">
			<strong class="warning">Fehler!</strong> @flash.get("tippError")
		</div>
	}
	@if(flash.containsKey("tippSuccess")) {
		<div class="alert alert-success">
			<strong class="success">Erfolg!</strong> @flash.get("tippSuccess")
		</div>
	}
	<div>
    	 <table class="table table-striped">
	    	<thead>
  				<tr>
  					<th>Datum</th>
  					<th></th>
  					<th></th>
  					<th></th>
  					<th></th>
  					<th></th>
  					<th>Ort</th>
  					<th>Beginn*</th>
  					<th>Ende* **</th>
  					<th>Tipp</th>
  				</tr>
  			</thead>
  			<tbody>
  				@for(s <- spiele){
	 				@if(s.gameRunning()){
		 					<tr class="info">
	 				}else {
	 					<tr>
	 				}
	 					<td><strong>@if(s.beginn.getDate()<=9){0}@s.beginn.getDate().@if(s.beginn.getMonth()<=9){0}@(s.beginn.getMonth()+1)</strong></td>
						<td>
							<a href="/mannschaft/find/@s.getMannschaftHeim().mid">
			    				@s.getMannschaftHeim().bezeichnung
			    			</a>
						</td>
						<td>@s.toreheim</td>
						<td>   -   </td>
						<td>@s.toregast</td>
						<td>
							<a href="/mannschaft/find/@s.getMannschaftGast().mid">
			    				@s.getMannschaftGast().bezeichnung
			    			</a>
						</td>
						<td>@s.ort</td>
						<td>@if(s.beginn.getHours()<=9){0}@s.beginn.getHours():@if(s.beginn.getMinutes()<=9){0}@s.beginn.getMinutes()Uhr</td>
						<td>@if(s.ende.getHours()<=9){0}@s.ende.getHours():@if(s.ende.getMinutes()<=9){0}@s.ende.getMinutes()Uhr</td>
						@if(cU!=null){
							<td>
								@if(!s.gameRunning() && !s.gameOver){
								<div class="container-fluid">
									<div class=row>
										<div class="col-md-10">
											@helper.form(action = routes.TippController.tippen(s.sid, cU.uid)) {
												<div class="col-md-3"><input required type="number" class="form-control" name="toreHeim" value="@for(t <- s.getTipps()){@if(t.getUser().equals(cU)){@t.toreheim}}" min="0"></input></div>
												<div class="col-md-3"><input required type="number" class="form-control" name="toreGast" value="@for(t <- s.getTipps()){@if(t.getUser().equals(cU)){@t.toregast}}" min="0"></input></div>
												<div class="col-md-3"><button class="btn btn-sm btn-default btn-block" type="submit">ok</button></div>
											}
										</div>
									</div>
								</div>
								}else{
									@for(t <- s.getTipps()){
										@if(t.getUser().equals(cU)){
											@t.toreheim - @t.toregast
										}
									}
								}
							</td>
						}
					</tr>
				}
			</tbody>
    	</table>
    	*Alle Zeiten in Deutscher Zeit (UTC+01:00) angegeben!<br>
    	**Das Spielende kann sich bis zum naechsten Tag(deutscher Zeit) hinziehen.
    </div>
}