@(mannschaften: Collection[models.Mannschaft], currentUser: models.User)

@main("Home", currentUser){
    <h1>Detailuebersicht</h1>
	<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Mannschaft</th>
				<th>Gruppe</th>
				<th>Spiele</th>
				<th>Siege</th>
				<th>Niederlagen</th>
				<th>Tore</th>
				<th>Gegentore</th>
				<th>Punkte</th>
			</tr>
		</thead>
		<tbody>
			@for(mannschaft <- mannschaften) {
				<tr>
					<td>
						<a href="/mannschaft/find/@mannschaft.mid">
							@mannschaft.bezeichnung
						</a>
					</td>
					<td>@mannschaft.gruppe</td>
					<td>@mannschaft.spiele</td>
					<td>@mannschaft.siege</td>
					<td>@mannschaft.niederlagen</td>
					<td>@mannschaft.tore</td>
					<td>@mannschaft.gegentore</td>
					<td>@mannschaft.punkte</td>
				</tr>
			}
		</tbody>
	</table>
</div>
}
