@(message: String, passform: Form[User], currentUser: models.User)

@import helper._

@main("Neuer Benutzer", currentUser) {
	@helper.form(action = routes.UserController.save) {
		<div class="container-fluid">
			<h1 class="form-heading">Neuen Benutzer anlegen</h1>
			@alerts()
			<p>
				<input required type="text" class="form-control" name="name" placeholder="Benutzername" maxlength="30"></input>
			</p>
			<p>
				<input required type="password" class="form-control" name="pw" placeholder="Passwort" maxlength="30"></input>
			</p>
			<p>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Anlegen</button>
			</p>
		</div>
	}
}