@(passform: Form[User])

@import helper._

@main_login("Registrieren") {
	@helper.form(action = routes.LoginController.register) {
		<div class="container-fluid">
			<h1 class="form-heading">Registrieren</h1>
			@if(flash.containsKey("error")) {
				<div class="alert alert-danger">
					<strong class="error">Oops!</strong> @flash.get("error")
				</div>
			}
			<p>
				<div class="input">
					<input required type="text" class="form-control" name="name" placeholder="Benutzername" maxlength="30"></input>
					<!--  <span class="help-block">Erforderlich, darf nicht leer sein.</span> -->
				</div>
			</p>
			<p>
				<div class="input">
					<input required type="password" class="form-control" name="pw" placeholder="Passwort" maxlength="30"></input>
					<!--  <span class="help-block">Erforderlich, darf nicht leer sein.</span> -->
				</div>
			</p>
			<p>
				<input required type="password" class="form-control" name="pwCon" placeholder="Passwort bestaetigen" maxlength="30"></input>
			</p>
			<p>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Registrieren</button>
			</p>
		</div>
	}
}