@(spiele: Collection[models.Spiel], cU: models.User)

<div class="page-header">
	<h2>Spielplan</h2>
</div>
<div class="row">
   	 <table class="table table-striped">
    	<thead>
			<tr>
				<th>Beginn*</th>
				<th>Spiel</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				@if(cU!=null){
					<th><strong>Tipp</strong></th>
				}
			</tr>
		</thead>
		<tbody>
 			@for(s <- spiele){
 				<tr>
 					<td><strong>@s.beginn.getDate().@if(s.beginn.getMonth()<=9){0}@s.beginn.getMonth()</strong> - @if(s.beginn.getHours()<=9){0}@s.beginn.getHours():@if(s.beginn.getMinutes()<=9){0}@s.beginn.getMinutes()Uhr</td>
					<td>
						<a href="/mannschaft/find/@s.getMannschaftHeim().mid">
		    				@s.getMannschaftHeim().bezeichnung
		    			</a>
					</td>
					<td>@s.toreheim</td>
					<td>   -   </td>
					<td>@s.toregast</td>
					<td>
						<a href="/mannschaft/find/@s.getMannschaftGast().mid">
		    				@s.getMannschaftGast().bezeichnung
		    			</a>
					</td>
					@if(cU!=null){
						<td>
							<div class=row>
								<div class="col-md-4">
									@helper.form(action = routes.TippController.tippen(s.sid, cU.uid)) {
										<input type="number" class="form-control" name="toreHeim" value="@for(t <- s.getTipps()){@if(t.getUser().equals(cU)){@t.toreheim}}"></input>
										<input type="number" class="form-control" name="toreGast" value="@for(t <- s.getTipps()){@if(t.getUser().equals(cU)){@t.toregast}}"></input>
										<button class="btn btn-sm btn-default btn-block" type="submit">ok</button>
									}
								</div>
							</div>
						</td>
					}
				</tr>
			}
		</tbody>
   	</table>
	*Alle Zeiten in Deutscher Zeit (UTC+01:00) angegeben!
</div> <!-- row -->