@(spiele: Collection[models.Spiel], cU: models.User)

<div class="page-header">
	<h2>Spielplan</h2>
</div>
@if(flash.containsKey("tippError")) {
	<div class="alert alert-danger">
		<strong class="warning">Fehler!</strong> @flash.get("tippError")
	</div>
}
@if(flash.containsKey("tippSuccess")) {
	<div class="alert alert-success">
		<strong class="success">Erfolg!</strong> @flash.get("tippSuccess")
	</div>
}
<div class="row-fluid">
	<div class="col-md-12">
		<table class="table table-striped">
	    	<thead>
				<tr>
					<th>Beginn*</th>
					<th>Spiel</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					@if(cU!=null){
						<th>
							<div class=row>
								<div class="col-md-3 col-md-offset-1">
									Tipp
								</div>
							</div>
						</th>
					}
				</tr>
			</thead>
			<tbody>
	 			@for(s <- spiele){
	 				@if(!s.gameOver()){
		 				@if(s.gameRunning()){
		 					<tr class="info">
		 				}else{
		 					<tr>
		 				}
		 					<td>
		 						<strong>
		 							@if(s.beginn.getDate()<=9){0}@s.beginn.getDate().@if(s.beginn.getMonth()<=9){0}@(s.beginn.getMonth()+1)
		 						</strong>
		 						 - 
		 						<small>
		 							@if(s.beginn.getHours()<=9){0}@s.beginn.getHours():@if(s.beginn.getMinutes()<=9){0}@s.beginn.getMinutes()Uhr
		 						</small>
		 					</td>
							<td>
								<a href="@routes.MannschaftController.mannschaftShow(s.getMannschaftHeim().mid)">
				    				@s.getMannschaftHeim().bezeichnung
				    			</a>
							</td>
							<td>@s.toreheim</td>
							<td>   -   </td>
							<td>@s.toregast</td>
							<td>
								<a href="@routes.MannschaftController.mannschaftShow(s.getMannschaftGast().mid)">
				    				@s.getMannschaftGast().bezeichnung
				    			</a>
							</td>
							@if(cU!=null){
								<td>
									@if(!s.gameRunning()){
										@if(s.isGg() || s.checkAfTippReady() || s.checkVfTippReady() || s.checkHfTippReady() || s.checkFTippReady()){
											<div class="container-fluid">
												<div class=row-fluid>
													<div class="col-md-9">
														@helper.form(action = routes.TippController.tippen(s.sid, cU.uid)) {
															<div class="col-md-3"><input required type="number" class="form-control" name="toreHeim" value="@for(t <- s.getTipps()){@if(t.getUser().equals(cU)){@t.toreheim}}" min="0"></input></div>
															<div class="col-md-3"><input required type="number" class="form-control" name="toreGast" value="@for(t <- s.getTipps()){@if(t.getUser().equals(cU)){@t.toregast}}"min="0"></input></div>
															<div class="col-md-3"><button class="btn btn-sm btn-default btn-block" type="submit">ok</button></div>
														}
													</div>
												</div>
											</div>
										}
									}else{
										@for(t <- s.getTipps()){
											@if(t.getUser().equals(cU)){
												@t.toreheim - @t.toregast
											}
										}
									}
								</td>
							}
						</tr>
					} <!-- gameOver -->
				} <!-- for -->
			</tbody>
	   	</table>
	</div> <!-- col.md-12 -->
	*Alle Zeiten in Deutscher Zeit (UTC+01:00) angegeben!
</div> <!-- row -->