@(spiele: Collection[models.Spiel], cU: models.User)

@main("Tipps", cU){
    <div class="page-header">
		<h1>Tipps<small>_@cU.name</small></h1>
	</div>	
	@if(cU.getTipps().size()!=0){
	<blockquote>
		<p>
			Tipps: @cU.getTipps().size()
		</p>
		<p>
			Punkte: @cU.punkte
			@if(cU.uncheckedTipps().size()!=0){
				<small>(fuer @cU.uncheckedTipps().size() Tipp@if(cU.uncheckedTipps().size()!=1){s} noch keine Punkte erhalten)</small>
			}
		</p>
	</blockquote>
	@alerts()
	<div class="row-fluid">
	   	 <table class="table table-striped">
	    	<thead>
				<tr>
					<th>Beginn*</th>
					<th>Spiel</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					@if(cU!=null){
						<th>Tipp</th>
					}
				</tr>
			</thead>
			<tbody>
	 			@for(t <- cU.findSortedTipps()){
	 				@defining(t.getSpiel()) { s =>
		 				@if(s.gameRunning()){
		 					<tr class="info">
		 				}else {
		 					@if(s.gameOver()){
		 						@if(cU.uncheckedTipps().contains(t)){
		 							<tr class="warning">
		 						}else{
		 							<tr class="success">
		 						}
		 					}else{
		 						<tr>
		 					}
		 				}
		 					<td>
		 						<strong>
		 							@if(s.beginn.getDate()<=9){0}@s.beginn.getDate().@if(s.beginn.getMonth()<=9){0}@(s.beginn.getMonth()+1)
		 						</strong>
		 						 - 
		 						<small>
		 							@if(s.beginn.getHours()<=9){0}@s.beginn.getHours():@if(s.beginn.getMinutes()<=9){0}@s.beginn.getMinutes()Uhr
		 						</small>
		 					</td>
							<td>
								<a href="@routes.MannschaftController.mannschaftShow(s.getMannschaftHeim().mid)">
				    				@s.getMannschaftHeim().bezeichnung
				    			</a>
							</td>
							<td>@s.toreheim</td>
							<td>   -   </td>
							<td>@s.toregast</td>
							<td>
								<a href="@routes.MannschaftController.mannschaftShow(s.getMannschaftGast().mid)">
				    				@s.getMannschaftGast().bezeichnung
				    			</a>
							</td>
							@if(cU!=null){
								<td>
									@for(t <- s.getTipps()){
										@if(t.getUser().equals(cU)){
											@t.toreheim - @t.toregast
										}
									}
								</td>
							}
						</tr>
					} <!-- defining -->
				} <!-- for -->
			</tbody>
	   	</table>
	   	<br>
		*Alle Zeiten in Deutscher Zeit (UTC+01:00) angegeben!
		<ul class="list-group">
			<li class="list-group-item list-group-item-info">Spiel laeuft.</li>
			<li class="list-group-item list-group-item-success">Spiel zu Ende, Punkte erhalten.</li>
			<li class="list-group-item list-group-item-warning">Spiel zu Ende, Punkte <strong>noch nicht</strong> erhalten.</li>
		</ul>
	</div> <!-- row -->
	}else{
		<h2>Sie haben noch keinen Tipp abgegeben.</h2>
   		<p>
   			Besuchen Sie die <a href="@routes.Application.index()#stSpielplan">Startseite</a> um einen Tipp abzugeben.
   		</p>
	}
}<!-- main -->
