@(spiele: Collection[models.Spiel], tr: models.Trunde, cU: models.User)

@main("TippRunde " + tr.bezeichnung, cU){
    <div class="page-header">
		<h1>TippRunde<small>_@tr.bezeichnung</small></h1>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Mitglieder</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
							<thead>
								<tr>
									<th>Benutzer</th>
									<th>Punkte</th>
								</tr>
							</thead>
			 				<tbody>
								@for(m <- tr.getMember()) {
			 						<tr>
										<td>
				    						<a @if(m.equals(cU)){href="/tipps"}else{href="/user/find/@m.uid"}>
				    							@m.name
				    						</a>
								    	</td>
										<td>@m.punkte</td>
									</tr>
								}
							</tbody>
		 				</table>
				</div><!-- panel-body -->
			</div><!-- panel -->
		</div> <!-- col.md-3 -->
	
		<div class="col-md-3 col-md-offset-6 text-right">
			<blockquote>
				<p>
					Tipps: @tr.findTipps().size()
						<small>@cU.getTipps().size() eigene@if(cU.getTipps().size()==1){r}</small>
				</p>
				<p>
					Punkte: @tr.punkte()
					<small>@cU.punkte eigene@if(cU.punkte==1){r}</small>
				</p>
			</blockquote>
		</div> <!-- col.md-3 col.md-offset-6 text-right -->
	</div> <!-- row -->
	
	<div class="row-fluid">
	   	 <table class="table table-striped">
	    	<thead>
				<tr>
					<th>Beginn*</th>
					<th>Spiel</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th>Tipps</th>
				</tr>
			</thead>
			<tbody>
	 			@for(s <- spiele){
	 				@if(!tr.findTippsSpiel(s).isEmpty()){
		 				@if(s.gameRunning()){
		 					<tr class="info">
		 				}else {
		 					@if(s.gameOver()){
		 						<tr class="warning">
		 					}else{
		 						<tr>
		 					}
		 				}
		 					<td>
		 						<strong>
		 							@if(s.beginn.getDate()<=9){0}@s.beginn.getDate().@if(s.beginn.getMonth()<=9){0}@(s.beginn.getMonth()+1)
		 						</strong>
		 						 - 
		 						<small>
		 							@if(s.beginn.getHours()<=9){0}@s.beginn.getHours():@if(s.beginn.getMinutes()<=9){0}@s.beginn.getMinutes()Uhr
		 						</small>
		 					</td>
							<td>
								<a href="/mannschaft/find/@s.getMannschaftHeim().mid">
				    				@s.getMannschaftHeim().bezeichnung
				    			</a>
							</td>
							<td>@s.toreheim</td>
							<td>   -   </td>
							<td>@s.toregast</td>
							<td>
								<a href="/mannschaft/find/@s.getMannschaftGast().mid">
				    				@s.getMannschaftGast().bezeichnung
				    			</a>
							</td>
							<td>
								@for((t, i) <- tr.findTippsSpiel(s).zipWithIndex){
									@if(t.getUser().equals(cU)){
										<strong>
									}else{
										<small>
									}
									<a @if(t.getUser().equals(cU)){href="/tipps"}else{href="/user/find/@t.getUser().uid"}>
					    				@t.getUser().name: 
					    			</a>
					    			@t.toreheim - @t.toregast
									@if(t.getUser().equals(cU)){
										</strong>
									}else{
										</small>
									}
									@if(i<=tr.findTippsSpiel(s).size()-1){
										<br>
									}
								}
							</td>
						</tr>
					} <!-- if(tr.findTippsSpiel(s)!=null) -->
				} <!-- for(s <- spiele) -->
			</tbody>
	   	</table>
	   	<br>
		*Alle Zeiten in Deutscher Zeit (UTC+01:00) angegeben!
		<ul class="list-group">
			<li class="list-group-item list-group-item-info">Spiel laeuft.</li>
			<li class="list-group-item list-group-item-warning">Spiel zu Ende.</li>
		</ul>
	</div> <!-- row -->
}<!-- main -->
