@(cU: models.User)

@main("TippRunden", cU){
    <div class="page-header">
		<h1>TippRunden</h1>
	</div>
	
	@if(flash.containsKey("success")) {
		<div class="alert alert-success">
			<strong class="success">Erfolg!</strong> @flash.get("success")
		</div>
 	}
 	@if(flash.containsKey("info")) {
		<div class="alert alert-info">
			<strong class="info">Hinweis.</strong> @flash.get("info")
		</div>
 	}
	
	<div class="row-fluid">
		<table class="table table-striped">
	    	<thead>
				<tr>
					<th>Bezeichnung</th>
					<th>Mitglieder</th>
					<th>Tipps</th>
					<th>Punkte</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for(tr <- cU.getTrunden()){
		 			<tr>
		 				<td>
		 					<a href="/trunde/@tr.trid">
			    				@tr.bezeichnung
			    			</a>
		 				</td>
		 				<td>
		 					@tr.getMember().size()
		 				</td>
		 				<td>
		 					@tr.findTipps().size()
		 				</td>
		 				<td>
		 					@tr.punkte()
		 				</td>
		 				<td>
			 				@if(tr.getTrAdmin()!=null){
			 					@if(tr.getTrAdmin().equals(cU)){
				  					@helper.form(action = routes.TrundeController.removeTrunde(tr.trid)) {
										<button title="Diese TippRunde verlassen" class="btn btn-sm btn-danger btn-block" type="submit">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									}
								}else{
									@helper.form(action = routes.UserController.removeFromTrunde(cU.uid, tr.trid)) {
										<button title="Diese TippRunde verlassen" class="btn btn-sm btn-danger btn-block" type="submit">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									}
								}
							}else{
								@helper.form(action = routes.UserController.removeFromTrunde(cU.uid, tr.trid)) {
									<button title="Diese TippRunde verlassen" class="btn btn-sm btn-danger btn-block" type="submit">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								}
							}
		  				</td>
		 			</tr>
	 			}
			</tbody>
	   	</table>
	</div> <!-- row -->
	<div class="row">
	   	<br>
		@helper.form(action = routes.TrundeController.addNew(cU.uid)) {
			<div class="col-md-5 col-md-offset-7">
				<div class="input-group">
					<input required type="text" class="form-control" name="bezeichnung" placeholder="Bezeichnung" maxlength="30"></input>
					<span class="input-group-btn">
						<button title="Neue TippRunde erstellen" class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</span>
				</div>
			</div>
		}
	</div> <!-- row -->
}<!-- main -->
