@(cU: models.User)

@main("TippRunden", cU){
    <div class="page-header">
		<h1>TippRunden</h1>
	</div>
	@alerts()
	<div class="row-fluid">
		<!-- wenn sich cU schon in mind 1er tr befindet -->
		@if(cU.getTrunden().size!=0){
			<table class="table table-striped">
		    	<thead>
					<tr>
						<th>Bezeichnung</th>
						<th>Mitglieder</th>
						<th>Tipps</th>
						<th>Punkte</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@for(tr <- cU.getTrunden()){
			 			<tr>
			 				<td>
			 					@if(tr.getTrAdmin()!=null){
				 					@if(tr.getTrAdmin().equals(cU)){
				 						<strong>
				 					}
				 					<a href="@routes.TrundeController.showDetail(tr.trid)" title="admin = @tr.getTrAdmin().name">
					    				@tr.bezeichnung
					    			</a>
					    			@if(tr.getTrAdmin().equals(cU)){
					    				</strong>
					    			}
				    			}else{
				    				<a href="@routes.TrundeController.showDetail(tr.trid)">
					    				@tr.bezeichnung
					    			</a>
				    			}
			 				</td>
			 				<td>
			 					@tr.getMember().size()
			 				</td>
			 				<td>
			 					@tr.searchTipps().size()
			 				</td>
			 				<td>
			 					@tr.punkte()
			 				</td>
			 				<td>
				 				@if(tr.getTrAdmin()!=null){
				 					@if(tr.getTrAdmin().equals(cU)){
					  					@helper.form(action = routes.TrundeController.removeTrunde(tr.trid)) {
											<button title="Diese TippRunde loeschen" class="btn btn-sm btn-danger btn-block" type="submit" onclick="return confirm('Die TippRunde @tr.bezeichnung wirklich unwiederuflich loeschen?');">
												<span class="glyphicon glyphicon-trash"></span>
											</button>
										}
									}else{
										@helper.form(action = routes.UserController.removeFromTrunde(cU.uid, tr.trid)) {
											<button title="Diese TippRunde verlassen" class="btn btn-sm btn-danger btn-block" type="submit" onclick="return confirm('TippRunde @tr.bezeichnung wirklich verlassen?');">
												<span class="glyphicon glyphicon-remove"></span>
											</button>
										}
									}
								}else{
									@helper.form(action = routes.UserController.removeFromTrunde(cU.uid, tr.trid)) {
										<button title="Diese TippRunde verlassen" class="btn btn-sm btn-danger btn-block" type="submit" onclick="return confirm('TippRunde @tr.bezeichnung wirklich verlassen?');">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									}
								}
			  				</td>
			 			</tr>
		 			}
				</tbody>
		   	</table>
	   	}else{ <!-- wenn sich cU noch in keiner tr befindet -->
	   		<h2>Sie befinden sich zur Zeit in keiner TippRunde.</h2>
	   		<p>
	   			Wenn Sie eine Einladung per email bekommen haben, klicken Sie bitte auf den enthaltenen Link. <br>
	   			Sie koennen auch eine eigene TippRunde eroeffnen. Geben Sie einfach die gewuenschte Bezeichnung unten ein und klicken Sie auf das +.
	   		</p>
	   	}
	</div> <!-- row -->
	<div class="row">
	   	<br>
		@helper.form(action = routes.TrundeController.addNew(cU.uid)) {
			<div class="col-md-5 col-md-offset-7">
				<div class="input-group">
					<input required type="text" class="form-control" name="bezeichnung" placeholder="Bezeichnung" maxlength="30"></input>
					<span class="input-group-btn">
						<button title="Neue TippRunde erstellen" class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</span>
				</div>
			</div>
		}
	</div> <!-- row -->
}<!-- main -->
