@(spiele: Collection[models.Spiel], cU: models.User)

@main("Home", cU){
    <div class="page-header">
		<h1>@cU.getTrunde().bezeichnung</h1>
	</div>
	<blockquote>
		<p>
			Tipps: @cU.getTrunde().findTipps().size() (davon @cU.getTipps().size() eigene)
		</p>
		<p>
			Eigene Punkte: @cU.punkte
			@if(cU.uncheckedTipps().size()!=0){
				<small>(fuer @cU.uncheckedTipps().size() Tipp(-s) noch keine Punkte erhalten)</small>
			}
		</p>
	</blockquote>
	<div class="row-fluid">
	   	 <table class="table table-striped">
	    	<thead>
				<tr>
					<th>Beginn*</th>
					<th>Spiel</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th>Tipps</th>
				</tr>
			</thead>
			<tbody>
	 			@for(s <- spiele){
	 				@if(s.getTipps()!=null){
		 				@if(s.gameRunning()){
		 					<tr class="info">
		 				}else {
		 					@if(s.gameOver()){
		 						<tr class="warning">
		 					}else{
		 						<tr>
		 					}
		 				}
		 					<td>
		 						<strong>
		 							@if(s.beginn.getDate()<=9){0}@s.beginn.getDate().@if(s.beginn.getMonth()<=9){0}@(s.beginn.getMonth()+1)
		 						</strong>
		 						 - 
		 						<small>
		 							@if(s.beginn.getHours()<=9){0}@s.beginn.getHours():@if(s.beginn.getMinutes()<=9){0}@s.beginn.getMinutes()Uhr
		 						</small>
		 					</td>
							<td>
								<a href="/mannschaft/find/@s.getMannschaftHeim().mid">
				    				@s.getMannschaftHeim().bezeichnung
				    			</a>
							</td>
							<td>@s.toreheim</td>
							<td>   -   </td>
							<td>@s.toregast</td>
							<td>
								<a href="/mannschaft/find/@s.getMannschaftGast().mid">
				    				@s.getMannschaftGast().bezeichnung
				    			</a>
							</td>
							<td title="test">
								@for((t,i) <- s.getTipps().zipWithIndex){
									@if(t.getUser().getTrunde().equals(cU.getTrunde())){
										@if(t.getUser().equals(cU)){
											<strong>
										}else{
											<small>
										}
										<a @if(t.getUser().equals(cU)){href="/tipps"}else{href="/user/find/@t.getUser().uid"}>
						    				@t.getUser().name: 
						    			</a>
						    			@t.toreheim - @t.toregast
										@if(t.getUser().equals(cU)){
											</strong>
										}else{
											</small>
										}
									}
									@if(i<=s.getTipps().size()-1){
										<br>
									}
								}
							</td>
						</tr>
					} <!-- if(s.getTipps()!=null) -->
				} <!-- for(s <- spiele) -->
			</tbody>
	   	</table>
	   	<br>
		*Alle Zeiten in Deutscher Zeit (UTC+01:00) angegeben!
		<ul class="list-group">
			<li class="list-group-item list-group-item-info">Spiel laeuft.</li>
			<li class="list-group-item list-group-item-warning">Spiel zu Ende.</li>
		</ul>
	</div> <!-- row -->
}<!-- main -->
