@(message: String, users: Collection[models.User])

@main("Benutzerliste"){
	<h1>@message</h1>
    <div>
    	<table border="1">
    		<tr>
    			<th>Id</th>
    			<th>Benutzername</th>
    			<th>Bearbeiten</th>
    			<th>Loeschen</th>
    		</tr>
    		@for(user <- users) {
	    		<tr>
	    			<td>@user.id</td>
	  				<td>@user.name</td>
	  				<td><a href="/user/update/@user.id">edit</a></td>
	  				<td><a href="/user/delete/@user.id">delete</a></td>
	  			</tr>
			}
    	</table>
    </div>
    <div>
    	<p>
    		<a href="/user/new">Neuen Benutzer anlegen</a>
    	</p>
    </div>
}