@(message: String, users: Collection[models.User], currentUser: models.User)

@main("Benutzerliste", currentUser){
	<h1>@message</h1>
    <div>
    	<table class="table table-striped">
	    	<thead>
	    		<tr>
	    			<th>Id</th>
	    			<th>Benutzername</th>
	    			<th>switch admin</th>
	    			<th>Bearbeiten</th>
	    			<th>Loeschen</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		@for(user <- users) {
		    		<tr>
		    			<td>@user.uid</td>
		  				<td>
		  					@user.name
		  					@if(user.admin == 1) {
				            	(admin)
				          	}
				        </td>
				        <td>
		  					@helper.form(action = routes.UserController.switchAdmin(user.uid)) {
								<button class="btn btn-sm btn-default btn-block" type="submit">
									<span class="glyphicon glyphicon-random"></span>
								</button>
							}
				        </td>
		  				<td>
		  					<a href="/user/update/@user.uid">
		  						<button type="button" class="btn btn-primary btn">
								  <span class="glyphicon glyphicon-pencil"></span>
								</button>
		  					</a>
		  				</td>
		  				<td>
		  					<a href="/user/delete/@user.uid">
		  						<button type="button" class="btn btn-danger btn">
								  <span class="glyphicon glyphicon-trash"></span>
								</button>
		  					</a>
		  				</td>
		  			</tr>
				}
			</tbody>
    	</table>
    	@if(flash.containsKey("success")) {
			<div class="alert alert-success">
				<strong class="success">Erfolg!</strong> @flash.get("success")
			</div>
   		}
   		@if(flash.containsKey("warning")) {
			<div class="alert alert-warning">
				<strong class="warning">Warnung!</strong> @flash.get("warning")
			</div>
   		}
    	
    </div>
    <div>
    	<br>
    	<a href="/users/all">
			<button type="button" class="btn btn-default btn">
	  			<span class="glyphicon glyphicon-refresh"> Aktualisieren</span>
			</button>
		</a>
    	<a href="/user/new">
			<button type="button" class="btn btn-default btn">
				<span class="glyphicon glyphicon-user"> Neu</span>
			</button>
		</a>
    </div>
}